.y {
	background-color:#ccc;
}
.r {
	background-color: black;
}
.we {
	width: 225px;
}
#o {
	text-align: center;
	border-left: 1px solid black; 
}
div {
	box-sizing: border-box;
	display: block;
	width:300px;
	border:1px solid black;
	height: 100px;
	padding:0px 0px 0px 0px;
	float: left;
}
.we {
	width: 300px;
}
#i {
	display: block;
	right: 400px
}
img {
	text-align: center;
}